@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fade 0.3s ease-out;
}
@keyframes ios-popup {
  0% { opacity: 0; transform: scale(0.9) translateY(10px); }
  100% { opacity: 1; transform: scale(1) translateY(0); }
}
.animate-ios-popup {
  animation: ios-popup 0.25s ease-out;
}

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}